/* create new blog form */
.create {
  max-width: 500px;
  width: 500px;
  background: #fff;
  height: 60%;
  /*     margin: 0 auto;
    text-align: center; */
}
.create label {
  text-align: center;
  display: block;
}

.create input {
  width: 100%;
  border: 2px solid rgb(42, 171, 81);
  box-sizing: border-box;
  
  display: block;
}
.create button {
  background: rgb(42, 171, 81);
  color: #fff;
  border: 0;
  padding: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  width: 80px;

}


.headerImg {
  background: url("../../public/imgs/withdraw.jpeg") no-repeat right/cover;
  height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.modalContainerWithDraw {
  width: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.modalContainerWithDraw .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}



.modalContainerWithDraw .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  text-align: center;
}

.modalContainerWithDraw .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainerWithDraw .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: rgb(42, 171, 81);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}