/* create new blog form */
.create {
    max-width: 500px;
    width: 500px;
    background: #fff;
/*     margin: 0 auto;
    text-align: center; */

  }
  .create label {
    text-align: center;
    display: block;
  }
 
  .create input{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid rgb(42, 171, 81);;
    box-sizing: border-box;
    display: block;
    border-radius: 10px;
  }
  .create button {
    
    background: rgb(42, 171, 81);
    color: #fff;
    border: 0;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin:  0 auto;
 
    display: block;
    right: 50%;
    left: 50%;
  }