:root {
  background: rgb(42, 171, 81);
  background: linear-gradient(
    90deg,
    rgba(42, 171, 81, 1) 0%,
    rgba(5, 154, 20, 1) 65%,
    rgba(2, 56, 38, 1) 100%
  );
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

ul li:hover p{
  transform: scale(1.5);
  opacity: 1;
}
ul li:hover a{
  opacity: 1;
}